<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>FurnitureDesignID</key>
	<string>cd39378c-2704-4326-854e-212d15fcc6ea</string>
	<key>FurnitureAPIBaseURL</key>
	<string>https://a088-2600-1012-b036-60ba-812f-ccd3-ca5c-e19b.ngrok-free.app</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera and LiDAR sensor to scan your room.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
