<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>FurnitureDesignID</key>
	<string>e84d6fda-0469-452d-91da-e632a22fccc6</string>
	<key>FurnitureAPIBaseURL</key>
	<string>https://2eb4-47-146-74-95.ngrok-free.app</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera and LiDAR sensor to scan your room.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
